@font-face {
  font-family: "ProximaNovaExtraBold";
  src: url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.eot")
      format("eot"),
    url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.svg")
      format("svg"),
    url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.woff")
      format("woff"),
    url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.ttf")
      format("truetype");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.eot")
      format("eot"),
    url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-bold.svg")
      format("svg"),
    url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.woff")
      format("woff"),
    url("https://banabowebfonts.s3.amazonaws.com/proxima-nova-extrabold.ttf")
      format("truetype");
}
